# provides support for external apps (sockhop)
module(load="imfile")

# Log format templates - For details see:  http://linux.die.net/man/5/rsyslog.conf
$template bluescape,"%timereported:::date-rfc3339%,%programname%,%PROCID%,%syslogseverity-text%,\"%msg%\"\n"
$template logserver_file,"%timereported:::date-rfc3339% %HOSTNAME% type=message app=\"%syslogtag%\" pid=%PROCID% severity=%syslogseverity-text% message=\"%msg%\"\n"

# Working diretory and log file permissions.
$WorkDirectory /var/spool/rsyslog
$umask 0000                # Insure that existing umasks don't interfere with our settings.
$FileCreateMode 0644       # RW for rsyslog daemon, read by group and others.
$RepeatedMsgReduction off  # Disable repeated messages for bluescape logs.

# Emergencies are sent to everybody logged in.
*.emerg                     :omusrmsg:*

#------------------------------------------------------------------------------
# LOCAL0 Facility = TSX Logs
#------------------------------------------------------------------------------
local0.* {

    # File
    action( type="omfile" file="/var/log/bluescape.log" template="bluescape" queue.type="Direct")
    & stop
}

#------------------------------------------------------------------------------
# LOCAL1 = Bluescape administration (tsx_admin, WMT, monitord, scripts)
#------------------------------------------------------------------------------
local1.* {
    # File
    action( type="omfile" file="/var/log/bluescape_admin.log" template="bluescape" queue.type="Direct")
    & stop
}

#------------------------------------------------------------------------------
# LOCAL2 = Bluescape metrics.  Formatted for parsing as key=value pairs
#------------------------------------------------------------------------------
local2.* {
    # File
    action( type="omfile" file="/var/log/bluescape_metric.log" template="bluescape" queue.type="Direct")
    & stop
}

#------------------------------------------------------------------------------
# bluescape_system:  syslog facilities:  kern, user, daemon, syslog, cron, and local3
# local3 is used for log files that were created outside of syslog.
#------------------------------------------------------------------------------
# Forward syslog kern, user, daemon, syslog, and cron facilities to kibana via sockhop
kern.*,user.*,daemon.*,syslog.*,cron.* {

    # File
    action( type="omfile" dirCreateMode="0700" FileCreateMode="0644" File="/var/log/bluescape_system.log" template="bluescape" queue.type="Direct")
    & stop
}

# Forward non-syslog logs to syslog local3 facility
input(type="imfile" File="/var/log/apport.log" Tag="apport" Severity="info" Facility="local3")
input(type="imfile" File="/var/log/apt/history.log" Tag="apt" Severity="info" Facility="local3")
input(type="imfile" File="/var/log/Xorg.0.log" Tag="xorg" Severity="info" Facility="local3")
input(type="imfile" File="/var/log/boot.log" Tag="boot" Severity="info" Facility="local3")
input(type="imfile" File="/var/log/dpkg.log" Tag="dpkg" Severity="info" Facility="local3")
input(type="imfile" File="/var/log/udev" Tag="udev" Severity="info" Facility="local3")

# Use if statement to filter garbage.  Forwarding local3.* results in garbage for the syslogtag (which is mapped to the app= field)
local3.* {
    if $syslogtag == [ "apport", "apt", "xorg", "boot", "dpkg", "udev" ] then {
        # File
        action( type="omfile" file="/var/log/bluescape_system.log" template="logserver_file" queue.type="Direct")
        & stop
    }
}

# Enable repeated messages for non-bluescape logs.
$RepeatedMsgReduction on
